:root {
  --accent-color: #2196f3;
  --brand-color: #2f303a;
  --text-color: #212121;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: #e5e5e5;
}

/* backgroun color for section */

.hat {
  background-color: #ffffff;
}
.hero {
  background-color: #2f303a;
}
.team-content {
  background-color: #f5f4fa;
}
.cellar {
  background-color: #2f303a;
}

/* text style section */
/* header*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--text-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.cellar-logo {
  color: #ffffff;
}
.logo-web {
  color: var(--accent-color);
}

.text-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
/* hero */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: #ffffff;
}
.hero-button:focus {
  line-height: 1.6;
  color: #ffffff;
  background-color: #188ce8;
}
.hero-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--accent-color);
  color: #ffffff;
}

/* section about */
.about-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}
.about-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
/*section about-computer  */
.title-main {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* section team-content */
.text-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.text-profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #757575;
}

/* cellar or footer section */
.text-cellar {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

/* portfolio content */
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.button-portfolio {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
}
.portfolio-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}
.portfolio-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
/* __________________ */
.list {
  list-style: none;
}
.browsing-link {
  text-decoration: none;
  color: var(--text-color);
}

.hat-link,
.cellar-link {
  text-decoration: none;
  color: #757575;
}

.studio-link:active {
  color: #2196f3;
}

.browsing-link:hover,
.browsing-link:focus {
  color: var(--accent-color);
}

.cellar-link:hover,
.cellar-link:focus {
  color: var(--accent-color);
}

.hat-link:hover,
.hat-link:focus {
  color: var(--accent-color);
}

/* ______ */

.browsing-link:active {
  color: var(--brand-color);
}

.cellar-link:active {
  color: var(--text-color);
}

/*work with text*/

.primary-button {
  cursor: pointer;
}
.current {
  color: var(--accent-color);
}
.current-button {
  background-color: var(--accent-color);
  color: #ffffff;
}
